---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import TitlePage from '@/components/TitlePage'
import { sluglify, unsluglify, getCategories, getPosts } from '@/utils'
import { siteConfig } from '@/data/site.config'
import Pagination from '@/components/Pagination'

export async function getStaticPaths({ paginate }: any) {
	const categories = await getCategories()
	const allPosts = await getPosts()

	return categories.flatMap((category: string) => {
		const unsluglifyNameCategory = unsluglify(category!.toLowerCase())
		const filteredPosts = allPosts.filter(
			(post) => post.data.category.toLowerCase() === unsluglifyNameCategory
		)

		return paginate(filteredPosts, {
			params: {
				category: sluglify(category.toLowerCase())
			},
			pageSize: siteConfig.paginationSize
		})
	})
}
const params = Astro.params
const { page } = Astro.props

const unsluglifyNameCategory = unsluglify(params.category!.toLowerCase())
const posts = page.data
---

<BaseLayout title={params.category}>
	<TitlePage title={unsluglifyNameCategory} />
	<ListCategories activeCategory={params.category} />
	{
		params.category === 'turnierteam' && (
			<p class='text-justify'>
				Die Glücksritter unserer Community, die sich gemeinsam auf den Weg zu auswärtigen Turnieren
				machen, nennen sich die SiSu´s (Kürzel von <b>Si</b>egen <b>Su</b>stained).
				<br /> Vor einigen Jahren wurden diese Männer einer militärischen Spezialeinheit wegen eines
				Verbrechens verurteilt, das sie nicht begangen hatten. Sie brachen aus dem Gefängnis aus und
				tauchten im Siegerland unter. Seitdem werden sie von der Militärpolizei gejagt, aber sie
				helfen anderen, die in Not sind. Sie wollen nicht so ganz ernst genommen werden, aber ihre
				Gegner müssen sie ernst nehmen. Also wenn Sie mal ein Problem haben und nicht mehr weiter
				wissen, suchen Sie doch die SiSu´s !
			</p>
		)
	}
	{
		params.category === 'fischkrieg-turnier' && (
			<p class='text-justify'>
				Der Fischkrieg ist unser lokales Community Turnier, das über T3 allen zugänglich gemacht
				wird. Es wird kompetatives 40k mit immersiven Gelände (schau bei unseren Turniertischen
				vorbei) und aktuellen Missionen gespielt. Fair and funny! Das Turnier ist stets ein großes
				Zusammentreffen mit Freunden, es werden Preise verlost und eine best painted Armee gekürt.
				Wir freuen uns über Deine Teilnahme! <br />
				Hier findest Du Turnierberichte und Geschichten von Teilnehmern.
			</p>
		)
	}
	{
		params.category === 'turniertische' && (
			<p>
				Hier könnte ihre Werbung stehen! <br /> Alternativ steht hier ein Text der die Planeten
				beschreibt, ist wohl auch okay
			</p>
		)
	}
	<ListPosts posts={posts} />
	<Pagination page={page} />
</BaseLayout>
