---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPageByTitle } from '../utils/post'
import Code from '../components/mdx/Code.astro'
import ImageEmbed from '@/components/mdx/ImageEmbed'
import ImageGallery from '../components/ImageGallery.astro'
import Scoreboard from '@/components/mdx/Scoreboard'
import Team from '../components/Team.astro'
import LeagueLobsterEmbed from '../components/LeagueLobsterEmbed.astro'

const title = 'Liga'
const page = await getPageByTitle(title)

if (!page) {
	return Astro.redirect('/404', 404)
}

const { Content } = await page.render()
const teamTitle = 'Unser Team'
const teamDescription = 'Unser Team besteht aus echten Menschen, die echte Dinge tun.'
---

<BaseLayout title={page.data.title}>
	<TitlePage title={page.data.title} />
	<div>
		<article class='max-w-full w-full'>
			<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
				<LeagueLobsterEmbed scheduleId='1961811' languageCode='de' />
			</div>
		</article>
		<Team title={teamTitle} description={teamDescription} pageTitle={title} />
		<!-- image gallery -->
		{
			page.data.galleryImages && page.data.galleryImages.length > 0 && (
				<ImageGallery images={page.data.galleryImages} />
			)
		}
	</div>
</BaseLayout>
