---
import TwitterIcon from '../icons/TwitterIcon.astro'
import FacebookIcon from '../icons/FacebookIcon.astro'
import BlueskyIcon from '../icons/BlueskyIcon.astro'
import MailIcon from '../icons/MailIcon.astro'
import { adjustImageUrl } from '../../utils/fixUrl'
const props = Astro.props

interface Person {
	name: string
	role: string
	image: string
}

type Props = {
	title: string
	description: string
	team: Person[]
}
---

<section class='bg-white dark:bg-gray-900'>
	<div class='container px-6 py-10 mx-auto'>
		<h1
			class='text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white'
		>
			{props.title}
		</h1>

		<p class='max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300'>
			{props.description}
		</p>

		<div class='grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4'>
			{
				props.team.map((person, index) => (
					<Fragment key={index}>
						<div class='flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-blue-600 rounded-xl'>
							<img
								class='object-cover w-32 h-32 rounded-full ring-4 ring-gray-300'
								src={adjustImageUrl(person.image)}
								alt={person.name}
							/>

							<h1 class='mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white'>
								{person.name}
							</h1>

							<p class='mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300'>
								{person.role}
							</p>
							<div class='flex mt-3 -mx-2'>
								<a
									href='#'
									class='mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white'
									aria-label='Reddit'
								>
									<FacebookIcon />
								</a>

								<a
									href='#'
									class='mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white'
									aria-label='Twitter'
								>
									<TwitterIcon />
								</a>

								<a
									href='#'
									class='mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white'
									aria-label='BlueSky'
								>
									<BlueskyIcon />
								</a>

								<a
									href='#'
									class='mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white'
									aria-label='Mail'
								>
									<MailIcon />
								</a>
							</div>
						</div>
					</Fragment>
				))
			}
		</div>
	</div>
</section>
